* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.card {
    width: 700px;
    height: 490px;
    box-shadow: 10px 5px 20px hsla(0, 0%, 0%, 20%);
    border-radius: 15px;
    background-color: white;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1));
    color: hsl(0, 0%, 85%);
    width: 50%;
    border-radius: 15px;
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    font-weight: 500;
}

.summary h3 {
    padding-top: 4%
}

.container {
    display: flex;
    height: 100%;
}

.your-result {
    font-size: 1.3rem;
    padding: 10% 0 10% 0;
    font-weight: 700;
}

h1 {
    font-size: 4.5rem;
    padding: 20% 0 0 0;
    color: white;
}

.score {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.great {
    font-size: 1.7rem;
    padding: 10% 0 0 0;
    color: hsl(0, 0%, 95%);
}

.average {
    color: hsl(0, 0%, 80%);
    padding: 6% 18%;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem 0.5rem;
}

.bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.reaction {
    color: hsl(0, 100%, 67%);
}

.memory {
    color: hsl(39, 100%, 56%);
}

.verbal {
    color: hsl(166, 100%, 37%);
}

.visual {
    color: hsl(234, 85%, 45%);
}

.row p {
    color: gray;
}

.row p b {
    color: hsl(224, 30%, 27%);
}

.row:nth-child(1) {
    background-color: hsla(0, 100%, 67%, 0.2);
}

.row:nth-child(2) {
    background-color: hsla(39, 100%, 56%, 0.2);
}

.row:nth-child(3) {
    background-color: hsla(166, 100%, 37%, 0.2);
}

.row:nth-child(4) {
    background-color: hsla(234, 85%, 45%, 0.2);
}

.btn {
    background-color: hsl(224, 30%, 27%);
    font-size: 1rem;
    color: white;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    padding: 1rem 0.5rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}


@media screen and (max-width: 650px) {

.card, .summary, .result {
    width: 100%;
    height: 100%;
}

.container {
    flex-direction: column;
}

footer {
    display: none;
}
}

